body.chakra-ui-light {
  background-color: #2F0F5D;
  height: 100vh;    
}

.chakra-stack{
  padding: 1vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  color: white;
}
h2 {
  font-size: 5em;
  line-height: 1.1;
  color: #2F0F5D;
}

p {
  font-size: 1.3em;
  line-height: 1.1;
  color: white;
  padding: 0.5rem;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0 auto;
  /* border-bottom: 1px solid #f2f2f2; */
}

.links a{
  background-color: #27E1C1;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin: 5px;
  padding: 8px;
}

.chakra-collapse {
  display: block !important;
}

.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.css-uttm9k {
  background-color: #2F0F5D;
}

button {
  color: #2F0F5D;
}

.accordion p {
  color: #27E1C1;
  background-color: #2F0F5D;
}

.form-control{
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
}

.body-teacher{
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 900px;
}
.body-teacher.cursos{
  background-color: black;
  }



