:root {
  --fc-border-color: black;
  --fc-daygrid-event-dot-width: 5px;
  --fc-small-font-size: 1em;
}

.body-calendario {
  background-color: white;
  border-radius: 8px;
  padding: 2px;
}

.selected-day {
  background-color: #00adb5;
}

body.chakra-ui-light {
  background-color: white;
  height: 100vh;
}

.chakra-stack {
  padding: 1vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  color: white;
}
h2 {
  font-size: 3em;
  line-height: 1.1;
  color: black;
}

p {
  font-size: 1.3em;
  line-height: 1.1;
  color: white;
  padding: 0.5rem;
}

.greenCircle {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 128, 64);
  border-width: 2px;
  border-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.yellowCircle {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(245, 228, 0);
  border-width: 2px;
  border-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.orangeCircle {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 145, 0);
  border-width: 2px;
  border-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.redCircle {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(211, 9, 9);
  border-width: 2px;
  border-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.grayCircle {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(136, 136, 136);
  border-width: 2px;
  border-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.navbar-izq {
  height: 5vmax;
  width: 5vmax;
  margin-bottom: 100px;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80vmax;
  height: 40vmax;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: white;
}

.navbar {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  /* border-bottom: 1px solid #f2f2f2; */
}

.chakra-collapse {
  display: block !important;
}

.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion p {
  color: white;
  text-align: start;
}

.form-control {
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 550px;
}
.form-control-apo {
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 700px;
}

.body-profesor {
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  max-width: 900px;
}
.body-profesor.cursos {
  background-color: rgb(245, 242, 242);
}

.body-admini {
  display: grid;
  background-color: white;
  height: 500px;
  width: 50vmin;
  margin: 0 auto;
  border-radius: 8px;
}
